<h1>Public-Recipes</h1>
<div class = "container ">
    <% @public_recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe.id) do %>
        <div class="w-100 row border border-dark mt-2 mb-2 p-3">
            <div class="col-sm-6">
                <h5 class="card-title display-4"><%= recipe.name %> </h5>
                <h6>By: <%= @users.find(recipe.user_id).name %></h6>
            </div>
            <div class="col-sm-6">
                <h5 class="card-title">Total food items: <%= recipe.recipe_foods.count %></h5>
                <% recipe.recipe_foods.each do |recipe_food| %>

                <% end %>
                 <p class="card-text">Total price: <%= number_to_currency(recipe.sum, :unit => "$") %></p>
            </div>
        </div>
      <% end %>
    <% end %>
</div>